// 对element-UI进行样式修改

.el-menu-item.is-active {
  background-color: $mainColor !important;
}

.el-menu--vertical {
  .el-menu-item {
    background-color: $secColor !important;
    &:hover {
      background-color: $mainColor !important;
    }
  }
}
